<div class="container">
	<div class="chat--container" style="margin-top: 1rem;">
		<div class="chat--body">
			<ul style="padding-left: 0; list-style: none;">
				<li class="{{chat.classes}}" ng-repeat="chat in model.chats">
					<b>{{chat.name}}: </b>
					<span>{{chat.msg}}</span>
				</li>
				<li class="chat--typing text-left" style="padding-top: 1em;opacity: 0.4;" ng-if="uiAction.msg || uiAction.botIsTyping">
					<b style="color: #03c">Escribiendo ...</b>
				</li>
			</ul>
		</div>
		<div class="chat--box">
			<div class="row">
				<div class="col-md-11" style="padding-right: 0em;"> 
					<input type="text" name="" class="form-control" placeholder="Mensaje" ng-model="uiAction.msg">
				</div>
				<div class="col-md-1"> 
					<button class="btn btn-primary" ng-click="pushMsg()">Enviar</button>
				</div>
			</div>
		</div>
	</div>
</div>