<div class="container">
	<p>{{title}}</p>
	<p>PARENT: {{hola2}}</p>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Alex</td>
			</tr>
		</tbody>
	</table>
</div>